.App-header {
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.content {
	display: flex;
	background-color: lightgray;
	justify-content: space-between;
}
.applicationList {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	width: 30vw;
}
ul > li {
	list-style: none;
	display: flex;
}
.appForm {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	width: 60vw;
}
.appForm > form {
	display: flex;
	flex-direction: column;
}
.open-jobs {
	display: flex;
	flex-direction: column;
}
.closed-jobs {
	display: flex;
	flex-direction: column;
}
