.App-header {
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.content {
	display: flex;
	background-color: lightgray;
	justify-content: space-between;
}
.applicationList {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	width: 30vw;
}
ul > li {
	list-style: none;
	display: flex;
}
.app-links {
	text-align: center;
	border: 1px solid black;
	padding: 5px 0;
	box-shadow: 1px 1px 2px 2px #808080;
	text-decoration: none;
	color: crimson;
	border-radius: 10px;
}
.app-links:hover {
	background-color: blanchedalmond;
}
.appForm {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	width: 60vw;
}
.appForm > form {
	display: flex;
	flex-direction: column;
}
.open-jobs {
	display: flex;
	flex-direction: column;
}
.closed-jobs {
	display: flex;
	flex-direction: column;
}
