.nav {
	margin-bottom: 30px;
}
.content {
	display: flex;
	justify-content: space-around;
}
.applicationList {
	display: flex;
	flex-direction: column;
	box-shadow: 1px 1px 2px 2px #808080;
	width: 40vw;
}

.app-links {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-self: center;
	border: 1px solid black;
	padding: 5px 0;
	box-shadow: 1px 1px 2px 2px #808080;
	text-decoration: none;
	color: crimson;
	width: 80%;
	margin: 5px 0;
}
.app-links:hover {
	background-color: blanchedalmond;
}
.appForm {
	/* display: flex;
	flex-direction: column; */
	box-shadow: 1px 1px 2px 2px #808080;

	width: 40vw;
}
.appForm > form {
	margin-left: 10%;
}

.open-jobs {
	display: flex;
	flex-direction: column;
}
.closed-jobs {
	display: flex;
	flex-direction: column;
}
